{
  "plugins": ["./.vscode-gonx/prettier-plugin-gonx/index.js"],
  "overrides": [
    {
      "files": "*.gonx",
      "options": {
        "parser": "gonx",
        "printWidth": 120,
        "tabWidth": 2,
        "htmlWhitespaceSensitivity": "css"
      }
    }
  ]
}
